In [2]:
import pandas as pd

In [6]:
df_mpi_120 = pd.read_csv("../data/Palign/mpi_300.csv")

In [7]:
df_mpi_120

,Unnamed: 0,label_raw,text,label_ocean,key
0,0,Anxiety,Worry about things.,N,1
1,1,Friendliness,Make friends easily.,E,1
2,2,Imagination,Have a vivid imagination.,O,1
3,3,Trust,Trust others.,A,1
4,4,Self-Efficacy,Complete tasks successfully.,C,1
...,...,...,...,...,...
295,295,Vulnerability,Am calm even in tense situations.,N,-1
296,296,Cheerfulness,Seldom joke around.,E,-1
297,297,Liberalism,Like to stand during the national anthem.,O,-1
298,298,Sympathy,Can't stand weak people.,A,-1
299,299,Cautiousness,Often make last-minute plans.,C,-1

In [10]:
import json
import pandas as pd
import re
import os

file_path = '../data/Palign/Test-set.json'

if not os.path.exists(file_path):
    raise FileNotFoundError(f"Файл не найден: {file_path}")

print("Читаем и чиним JSON...")

with open(file_path, 'r', encoding='utf-8') as f:
    content = f.read()

content = content.strip()

if content.startswith('{'):
    content = '[' + content + ']'

content = re.sub(r',\s*(?=\s*[\]}])', '', content)
content = re.sub(r'("\w+"):\s*$', r'\1: null', content, flags=re.MULTILINE)

last_brace = content.rfind('}')
if last_brace != -1:
    content = content[:last_brace + 1] + content[last_brace + 1:].lstrip(', \n\r\t') 
    if content.count('{') > content.count('}'):
        content += '}' * (content.count('{') - content.count('}'))
    if content.strip().endswith('}'):
        content = content.rstrip() + ']' if not content.strip().endswith(']') else content

print(f"Длина текста после чистки: {len(content)} символов")

try:
    data = json.loads(content)
    print(f"Успешно распарсили! Загружено объектов: {len(data)}")
except json.JSONDecodeError as e:
    print(f"Ошибка на позиции {e.pos}:")
    print(content[max(0, e.pos-200):e.pos+200])
    raise

df = pd.DataFrame(data)

print(f"\nГотово! Размер датасета: {df.shape}")
print(f"Колонки: {df.shape[1]}, строки: {df.shape[0]}")

df['year'] = df['year'] + 1900
df['sex'] = df['sex'].map({1: 'Male', 2: 'Female'})

item_columns = [f'i{i}' for i in range(1, 301)]
df[item_columns] = df[item_columns].astype('Int64')

time_cols = ['sec', 'min', 'hour', 'date', 'month', 'year']

print("\nПервые 5 строк:")
display(df.head())

print("\nИнформация о датасете:")
df.info()

print("\nСтатистика по айтемам (ответы 1–5):")
display(df[item_columns].describe())


print(f"\nВсё сохранено в папку data:")
print("   → Test-set_CLEAN.csv")
print("   → Test-set_CLEAN.pkl")

Читаем и чиним JSON...
Длина текста после чистки: 1649952 символов
Успешно распарсили! Загружено объектов: 300

Готово! Размер датасета: (300, 310)
Колонки: 310, строки: 300

Первые 5 строк:

,case,sex,age,sec,min,hour,date,month,year,country,...,i291,i292,i293,i294,i295,i296,i297,i298,i299,i300
0,172481,Male,17,6,47,13,21,7,2003,USA,...,4,4,4,3,3,2,4,3,3,2
1,205752,Female,23,44,48,6,2,8,2004,UK,...,4,5,5,3,3,3,4,4,3,2
2,175839,Female,22,7,34,1,20,8,2003,USA,...,4,4,4,3,4,2,4,2,2,2
3,156978,Female,20,8,26,12,7,3,2003,USA,...,4,4,3,4,3,2,4,3,3,2
4,223548,Male,26,50,5,16,20,9,2005,Ireland,...,2,4,4,4,2,3,4,4,4,2

Информация о датасете:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Columns: 310 entries, case to i300
dtypes: Int64(300), int64(8), object(2)
memory usage: 814.6+ KB

Статистика по айтемам (ответы 1–5):

,i1,i2,i3,i4,i5,i6,i7,i8,i9,i10,...,i291,i292,i293,i294,i295,i296,i297,i298,i299,i300
count,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,...,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0
mean,3.643333,3.526667,4.083333,3.263333,3.913333,2.913333,2.89,3.86,3.81,3.663333,...,3.533333,3.683333,3.803333,3.49,3.076667,2.67,3.966667,2.366667,3.176667,2.626667
std,0.915925,0.97251,0.733609,0.83845,0.688527,0.974159,1.077856,0.818106,0.929217,0.74734,...,0.671111,0.867312,0.752691,0.86355,0.774244,0.834719,0.730755,0.974022,0.85316,0.818242
min,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
25%,3.0,3.0,4.0,3.0,4.0,2.0,2.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,2.0,4.0,2.0,3.0,2.0
50%,4.0,4.0,4.0,3.0,4.0,3.0,3.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,3.0
75%,4.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,5.0,4.0,...,4.0,4.0,4.0,4.0,4.0,3.0,4.0,3.0,4.0,3.0
max,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0

Всё сохранено в папку data:
   → Test-set_CLEAN.csv
   → Test-set_CLEAN.pkl

In [11]:
df

,case,sex,age,sec,min,hour,date,month,year,country,...,i291,i292,i293,i294,i295,i296,i297,i298,i299,i300
0,172481,Male,17,6,47,13,21,7,2003,USA,...,4,4,4,3,3,2,4,3,3,2
1,205752,Female,23,44,48,6,2,8,2004,UK,...,4,5,5,3,3,3,4,4,3,2
2,175839,Female,22,7,34,1,20,8,2003,USA,...,4,4,4,3,4,2,4,2,2,2
3,156978,Female,20,8,26,12,7,3,2003,USA,...,4,4,3,4,3,2,4,3,3,2
4,223548,Male,26,50,5,16,20,9,2005,Ireland,...,2,4,4,4,2,3,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,187989,Male,17,21,59,2,17,11,2003,New Zealand,...,3,5,5,1,5,2,5,4,1,1
296,262691,Male,47,12,27,21,10,1,2008,USA,...,3,4,4,3,4,2,4,2,4,2
297,65835,Female,19,7,23,14,22,6,2001,UK,...,3,5,4,3,3,3,4,3,3,2
298,126565,Female,26,46,28,1,28,7,2002,USA,...,4,4,4,4,4,2,5,2,4,2
299,277815,Male,17,6,24,11,23,0,2009,Singapore,...,3,2,3,4,3,4,3,3,3,3